* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container {
    width: 100%;
    height: 100vh;
    background-color: #2b2b2bff;
}

/* nav */

nav {
    width: 100%;
    height: 53px;
    background-color: #212121ff;
    padding-left: 8px;
    border-bottom: 1px solid #1f1d1d;
}

nav img {
    width: 34px;
    height: 34px;
    padding-top: 10px;
}

nav p {
    display: inline-block;
    color: white;
    font-size: 15px;
    position: relative;
    top: -7px;
}

nav i {
    font-size: 14px;
    position: relative;
    left: 80%;
    top: -7px;
    padding: 13px 16px;
    border-radius: 5px;
}

nav i:nth-child(5):hover {
    cursor: pointer;
    background-color: rgb(214, 5, 5);
}

nav i:hover {
    cursor: pointer;
    background-color: #5a5858;
}


/* side bar */

.d1 {
    padding: 20px 0px 0px 6px;
    width: 4%;
    height: 91vh;
    background-color: #212121ff;
    float: left;
}

.d1 i {
    display: block;
    padding: 12px;
    margin: 0px 8px 5px -6px;
    border-radius: 5px;
    padding-left: 15px;
}

.d1 i:hover{
    cursor: pointer;
    background-color: #5a5858;
}

.d1 i:nth-child(1){
    margin-left: -6px;
    margin-right:  8px;
    padding-left: 12px;
    border-left: 4px solid #1f995aff;
    background-color: #5a5858;
    border-radius: 5px;
}

.d1 img {
    border-radius: 20px;
    width: 28px;
    height: 28px;
    margin-left: 5px;
    margin-top: 8px;
}

.d1 img:hover{
    cursor: pointer;
}

.d1 i:nth-child(4),
.d1 i:nth-child(5),
.d1 i:nth-child(6),
.d1 img:nth-child(7) {
    position: relative;
    top: 41%;
}

/* content */

.d2{
    float: left;
    width: 30%;
    height: 91vh;
    border: 1px solid #1f1d1d;
    border-bottom: none;
    border-top-left-radius:  10px;
}

/* content div1 */

.d2 .div1{
    padding: 6px 14px; 
    border-bottom: 1px solid #1f1d1d
}

.d2 .div1 h2{
    display: inline-block;
    font-size: 17px;
    color: #fff;
    padding-left: 11px;
}

.d2 .div1 i{
    position: relative;
    left: 40%;
    padding: 13px 13px 13px 13px;
    margin-left: 6px;
    font-size: 17px;
    border-radius: 5px;
}

.d2 .div1 i:hover{
    cursor: pointer;
    background-color: #5a5858;
}

/* content div2 */

.d2 .div2{
    padding: 10px 8px 10px 26px;
    height: 64px;
}

.d2 .div2 input{
    width: 347px;
    height: 33px;
    border-radius: 5px;
    padding-left: 40px;
    outline: none;
    background-color: #383838ff;
    color: white;
    border: none;
    border-bottom: 2px solid #5e5c5c;
}

.d2 .div2 input:active{
    border-bottom: 3px solid #155240;
    border-bottom: 3px solid #367763;

}

::placeholder{
    font-size: 13px;
    color: #c4c4c4;
    font-weight: 500;
}


.d2 .div2 i{
    position: relative;
    right: 93%;
    color: #b1a7a7;
    font-size: 15px;
}

/* content div3 */

.div3{
    padding: 12px 0px 0px 24px;
    height: 72px;
}


.div3:hover{
    cursor: pointer;
    box-shadow: inset -10px -10px 15px rgba(11, 11, 11, 0.1);
}

.div3 img{
    width: 42px;
    height: 42px;
    border-radius: 20px;
}

.div3 h3{
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    bottom: 25px;
    left: 8px;
}

.div3 p{
    color: #a3a3a3ff;
    font-size: 13px;    
    position: relative;
    bottom: 18px;
    letter-spacing: 1px;
    left: 52px;
}

.div3 .p1{
    color: #a3a3a3ff;
    font-size: 13px;
    position: relative;
    bottom: 33px;
    letter-spacing: 1px;
    left: 290px;
}

/* main content */

.d3{
    width: 66%;
    height: 91vh;
    border: 1px solid red;
    float: right;
}

/* main content d4 */

.d3 .d4{
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #3b3232ff;
    padding: 10px;
}

.d3 .d4 img{
    width: 45px;
    height: 45px;
    border-radius: 20px;
    position: relative;
    top: 5px;
    left: 3px;
}

.d4 h3{
    display: inline-block;
    color: #fff;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    bottom: 27px;
    left: 8px;
}

.d4 p{
    display: inline-block;
    color: #b3b0b0;
    position: relative;
    bottom: 3px;
    letter-spacing: 1px;
    right: 95px;
    font-size: 12px;
}

.d3 .d4 i{
    position: relative;
    bottom: 16px;
    left: 60%;
    padding: 14px;
    margin: 0px 8px 5px -6px;
    border-radius: 5px;
    padding-left: 15px;
}

.d3 .d4 i:hover{
    cursor: pointer;
    background-color: #5a5858;
}    


.d3 p:hover,.d3 h3:hover {
    cursor: pointer;
}
    
/* main content d5 */

.d5{
    background-image: url(images/images.jpeg);
    width: 100%;
    height: 430px;
    background-position: center; 
}


/* main content d6 */

.d6{
    width: 100%;
    height: 40px;
    background-color: #2b2b2bff;
}

.d6 i{
    position: relative;
    left: 20px;
    top: 3px;
    padding-left: 20px;
    padding: 14px;
    margin: 0px 8px 5px -6px;
    border-radius: 5px;
}

.d6 i:nth-child(4){
    position: relative;
    left: 110px;
}

.d6 input{
    position: relative;
    width:  70%;
    height: 100%;
    left: 70px;
    outline: none;
    border: none;
    background-color: #2b2b2bff;
    color: #fff;
}

.d6 i:hover{
    cursor: pointer;
    background-color: #5a5858;
}